<!doctype html>
<html ng-app="shehacks2015App">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <!-- endbuild -->
  </head>
  <body ng-controller="MainCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <div class="col-xs-9">
            <a class="navbar-brand logo" href="index.html"><img src="images/logo.png"></a>
            </div>

            <div class="col-xs-3"><a class="btn" href="login.html">Log In</a></div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
    <h1>FIND LOCAL PRODUCE</h1>
    <!-- search field by postcode -->
    <a class="filter-img col-xs-3" ng-click="type='mango'"><img src="images/mango.png"></a>
    <a class="filter-img col-xs-3" ng-click="type='strawberry'"><img src="images/strawberry.png"></a>
    <a class="filter-img col-xs-3" ng-click="type='tomato'"><img src="images/tomato.png"></a>
    <a class="filter-img col-xs-3" ng-click="type='banana'"><img src="images/banana.png"></a>
    <a class="filter-img col-xs-3" ng-click="type='avocado'"><img src="images/avocado.png"></a>
    <a class="filter-img col-xs-3" ng-click="type='lemon'"><img src="images/lemon.png"></a>
    <a class="filter-img col-xs-3" ng-click="type='orange'"><img src="images/orange.png"></a>
    <a class="filter-img col-xs-3" ng-click="type='apple'"><img src="images/apple.png"></a>

    <div>
      <a class="btn col-xs-offset-10 col-xs-2" ng-show="viewType == 'map'" ng-click="viewType = 'list'"><span class="glyphicon glyphicon-align-justify"></span></a>
      <a class="btn col-xs-offset-10 col-xs-2" ng-hide="viewType == 'map'" ng-click="viewType = 'map'"><span class="glyphicon glyphicon-map-marker"></span></a>
    </div>

    <div ng-show="viewType == 'list'">
    <input id="postcodeSearch" type="text" placeholder="Please input your postcode" ng-model="postcode"/>
    <span class="icon-compass">O</span>

        <div data-ng-repeat="item in produce track by $index| filter: postcode | filter: type">
          <a ng-href="listing.html#{{$index}}">
          <div class="listitem col-xs-12">
            <img class="col-xs-4" ng-src="{{item.img}}">
            <p class="col-xs-4">{{item.distance}}</p>
            <p class="col-xs-4">${{item.price * item.quantity | number:2}}</p>
          </div></a>
        </div>
    </div>


    <div ng-show="viewType == 'map'">
      <div id="map-canvas">
        
      </div>
    </div>


    </div>

    <div class="footer">
      <div class="container">
      </div>
    </div>

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/maps.js"></script>
        <!-- endbuild -->
</body>
</html>
